<button class="btn btn-success">Add new</button>
<table class="table table-bordered">
    <thead>
        <th>Name</th>
        <th>Age</th>
        <th>City</th>
        <th>Action</th>
    </thead>

    <tbody>
        <tr *ngFor="let item of Allusers">
            <td>{{item.name}}</td>
            <td>{{item.age}}</td>
            <td>{{item.city}}</td>
            <td><button class="btn btn-info">Edit</button>|<button class="btn btn-danger">Delete</button></td>
        </tr>
    </tbody>
</table>